<mat-toolbar color="warn">
  <span style="display: flex; justify-content: space-between; width: 100%;">
    <span>Despesas da cidade de Recife</span>
    <span>Despesas / Mês </span>
  </span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
      <div *ngIf="despesasPorMes$ | async as despesasPorMes; else spinner">
          <div class="chart-container">
              <div class="chart">
                  <mat-card>
                      <mat-card-content>
                          <canvasjs-chart [options]="chartOptions" [styles]="{ height:'360px'}"></canvasjs-chart>
                      </mat-card-content>
                  </mat-card>
              </div>
          </div>
          <table mat-table [dataSource]="despesasPorMes" class="mat-elevation-z8">

              <ng-container matColumnDef="mes">
                  <th mat-header-cell *matHeaderCellDef> Mês </th>
                  <td mat-cell *matCellDef="let element"> {{element.mes}} </td>
              </ng-container>

              <ng-container matColumnDef="empenho">
                  <th mat-header-cell *matHeaderCellDef> Valor Empenhado </th>
                  <td mat-cell *matCellDef="let element"> {{element.empenho | money}} </td>
              </ng-container>

              <ng-container matColumnDef="liquidacao">
                  <th mat-header-cell *matHeaderCellDef> Valor Liquidado </th>
                  <td mat-cell *matCellDef="let element"> {{element.liquidacao | money}} </td>
              </ng-container>

              <ng-container matColumnDef="pagamento">
                  <th mat-header-cell *matHeaderCellDef> Valor Pago </th>
                  <td mat-cell *matCellDef="let element"> {{element.pagamento | money}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


      </div>
      <ng-template #spinner>
          <div class="spinner">
              <mat-spinner></mat-spinner>

          </div>
      </ng-template>
  </mat-card-content>
</mat-card>
