<mat-toolbar color="warn">
  <span style="display: flex; justify-content: space-between; width: 100%;">
    <span>Despesas da cidade de Recife</span>
    <span>Fonte de Recurso</span>
  </span>
</mat-toolbar>


<mat-card>
  <mat-card-content>
      <div *ngIf="despesasPorFonte$ | async as despesasPorFonte;">
          <table mat-table [dataSource]="despesasPorFonte" class="mat-elevation-z8">

              <ng-container matColumnDef="fonteNome">
                  <th mat-header-cell *matHeaderCellDef> Fonte </th>
                  <td mat-cell *matCellDef="let element"> {{element.fonteNome}} </td>
              </ng-container>

              <ng-container matColumnDef="fonteCodigo">
                  <th mat-header-cell *matHeaderCellDef> Codigo </th>
                  <td mat-cell *matCellDef="let element"> {{element.fonteCodigo}} </td>
              </ng-container>

              <ng-container matColumnDef="empenho">
                  <th mat-header-cell *matHeaderCellDef> Valor Empenhado </th>
                  <td mat-cell *matCellDef="let element"> {{element.empenho | money}} </td>
              </ng-container>

              <ng-container matColumnDef="liquidacao">
                  <th mat-header-cell *matHeaderCellDef> Valor Liquidado </th>
                  <td mat-cell *matCellDef="let element"> {{element.liquidacao | money}} </td>
              </ng-container>

              <ng-container matColumnDef="pagamento">
                  <th mat-header-cell *matHeaderCellDef> Valor Pago </th>
                  <td mat-cell *matCellDef="let element"> {{element.pagamento | money}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


      </div>
      <ng-template #spinner>
          <div class="spinner">
              <mat-spinner></mat-spinner>

          </div>
      </ng-template>
  </mat-card-content>
</mat-card>
