<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened disableClose>
    <mat-nav-list class="nav-list-wrapper">
      <a mat-list-item routerLink="/despesas"><b>Totais</b></a>
      <br><br><br><br>
      <a mat-list-item routerLink="/despesas/mes"><b>por Mês</b></a>
      <br><br><br><br>
      <a mat-list-item routerLink="/despesas/categoria"><b>por Categoria</b></a>
      <br><br><br><br>
      <a mat-list-item routerLink="/despesas/fonte"><b>por Fonte</b></a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
